<form method="POST" onfocus="return selectLista();" onsubmit="return pageUpdate();" id="myframe">
	<div id="assetsChoice" style="position:relative;top:10px;float:left;width:40%;border-style:dotted;border-width:thin">
	</div >
	<div  style="position:relative;top:10px;left:5px;float:left;width:50%;height:300px;border-width:thin;border-style:groove">
<!--		<iframe style="position:relative;border:none;width:400px;height:500px;" src="/assets/entrada"  name="myframe" id="myframe">
		</iframe>-->
	</div>
</form>
<script  nonce type="text/javascript" src="scripts/clt-asset.js"></script>
