<div id="content" class="main">
	<div class="login">
		<form class="form-signin" action="/users/register" method="POST">
			<h2 class="form-signin-heading">Please sign up</h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<br>
			<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
			<br>
			<label for="inputUsername" class="sr-only">Username</label>
			<br>
			<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required>
			<br>
			<label for="inputPassword" class="sr-only">Password</label>
			<br>
			<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
			<br>
			<label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
			<br>
			<input type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-control" placeholder="Confirm Password" required>
			{{#if error_messages }}
				<div class="alert alert-danger">{{error_messages}}</div>
			{{/if}}
			<p>&nbsp;</p>
			<button class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>
		</form>
	</div>
</div>